* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
nav {
  width: 100vw;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 1px 2px 3px black;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  gap: 5rem;
}
.nav-links a li {
  font-size: 1.25rem;
  color: gray;
  font-weight: bold;
}

.hero-section {
  height: calc(100vh - 7rem);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-content h1 {
  text-transform: capitalize;
  font-size: 3.5rem;
  color: white;
}

.section-content p {
  text-align: center;
  font-size: 1.5rem;
  color: green;
}
.service-sec {
  padding: 2rem 1rem;
}
.service-sec h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: bold;
  color: green;
}
